h1 {
    background-color: black; 
    color: rgb(109, 199, 248);
    
}
h2 {
    font-style: italic;
    background-color: purple;
    color: white
}
.is-centered {
    text-align: center;
}
h3 {
    text-align: right;
    background-color: lightblue;
    color: black
}
