h1 {
    background-color: black;
    
}
h2 {
    font-style: italic;
    background-color: purple;
    color: white;
}
.is-centered {
    text-align: center;
}
h3 {
    text-align: right;
    background-color: lightblue;
    color: blue
}
#cloud {
    background-color: black;
    color:aqua

}
#My {
    background-color: black;
    color: white;
}